<!DOCTYPE html>
<html lang="ko">
<head>
    <!--문서 정보를 가지고 있지만, 웹 페이지에서 보이지 않음-->
    <meta charset="UTF-8">
    <title>Jwa_Django_Main</title>

</head>
<body>
<!--웹 페이지에서 직접적으로 보이는 내용-->
    <div>
        <h1><a href="" >Django Blog</a></h1>
    </div>

    <div>
        <p>div1-published: 2018.11.14.(Wed)</p>
        <h2><a href="">first post</a></h2>
        <p>아주 신기하구만</p>
    </div>

    <div>
        <p>div2-published: 2018.11.14.(Wed)</p>
        <h2><a href="">second post</a></h2>
        <p>신기햄수다이</p>

    </div>

</body>
</html>